
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
font-family: 'Poppins', sans-serif;
margin:0 ;
padding:0;
box-sizing:0;
scroll-behavior:smooth;
/*hedhi header*/
}
/* Hide the scrollbar for all browsers */
body {
    overflow-x: hidden;
  }
  
  /* Show the scrollbar for WebKit-based browsers */
  body::-webkit-scrollbar {
    width: 0.5em; /* You can adjust the width as needed */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: transparent; /* Make the scrollbar thumb transparent */
  }
  
header{
    background-color: #FFF;
    width: 100%;
    position:fixed;
    z-index:1;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px;


}
/*hedhi first section li feha khedma kol*/
.logo {

    text-decoration: none;
    color: #3876F2;
    text-transform: uppercase;
    font-weight:900;
    font-size:1.8em;
    
}
.navigation a{
    color: #3a6cf4;
    text-decoration: none;
    font-size:1em;
    font-weight:400px;
    padding-right:50px;
    
}

.navigation a:hover{
    color:#601cfc;
}
section {
  padding:100px 200px;
}
.main{
    padding: 100px;
    width: 100%;
    min-height:100vh;
    display:fixed;
    align-items: center;
    background:url(2138715.jpg);
    background-size:cover;
    background-position: center;
    background-attachment:fixed;

}

.main h2{
    color: #2B718C;
    font-size:1.4 em;
    font-weight:600px;

}
.main h2 span {
    color:#2B718C;
    font-size:3em;
    font-weight:600px;
    display: inline-block;

}
.main h3 {
    color:#2B718C;
    font-size:1.5em;
    font-weight:200px;
    letter-spacing: 1px;
    margin-top:10px ;
    margin-bottom: 30px;
}
.main-btn {
    color: #f0f0f0;
    background-color: #0a49f6;
    letter-spacing:1px;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display:inline-block;
    padding: 0.9375em 2.1875em;
    border-radius: 15px;
    margin-bottom: 40px;
    transition:0.7s ease;
}  
.main-btn:hover{
    background-color:#601cfc;
    transform:scale(1.1,1.1);
   
} 
.social-icons a{
    color: #2B718C;
    font-size: 1.7em;
    padding-right:30px;
    

}
.image1{
    color: #0a49f6;
}
.image1:hover{
    color: rgb(93, 75, 82);
}
/*hedhi first section li feha service*/
.cards-skills{
    background-color: #CEDEF2;
}
.title {
    display:flex;
    justify-content:center;
    color: #0a49f6;
    font-size: 2.2em;
    font-weight:800;
    margin-bottom:30px;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap:wrap;
}
.card {
    display: inline-block;
    background-color:#fff;
    width: 20em;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
    padding:10px;
    margin:10px;
    transition:0.7s ease; 
    cursor: pointer;
 
 
}
.card:hover{
    transform:scale(1.1);
}
.icon {
    color: #0a49f6;
    font-size:8em;
    text-align: center;
}
.info {
    text-align: center;
}
.info a{
    text-decoration: none;
}
.info h3{
    color: #0a49f6;
    font-size:1.2em;
    font-weight:700;
    margin:10px;
    text-decoration: none;
}
/*hedhi first section li feha project*/
.projects {
    background-color: #BBBDF2;

}
.projects .content {
    margin-top:30px;
}
.projects-cards{
    background-color: #fff;
    border:1px solid #fff;
    min-height:14em;
    width:16em;
    border-radius:10px;
    margin:20px;
    transition: 0.7s ease;
    cursor: pointer;
}
.projects-cards:hover{
    transform:scale(1.1);

}
   
.projects-img1 img{
   width: 100%;  
   border-radius: 10px;
}
.projects-img2 img{
    width: 100%;  
    border-radius: 10px;
 }
 .projects-img3 img{
    width:100%;
    border-radius: 10px;
    
 }
 .projects-img4 img{
    width: 100%;  
    border-radius: 10px;
 }
 .projects-img5 img{
    width: 100%;  
    border-radius: 10px;
 }
 .projects-img6 img{
    width: 100%;  
    border-radius: 10px;
 }
.projects-cards:hover .projects-img{
    opacity: 0.9;
   
}
.projects-info .span1{
    padding-top: 65px;

}
.projects-info .span2{
    padding-top: 65px;

}
.projects-info .span3{
    padding-top: 85px;

}
.projects-info .span4{
    padding-top: 90px;
    

}
.projects-info .span5{
    padding-top: 70px;

}
.projects-info .span6{
    padding-top: 115px;

}
.projects-category1{
    font-size: 1em;
    color: #000;
    padding-top: 65px;
}
.projects-category2{
    font-size: 1em;
    color: #000;
    padding-top: 30px;
}
.projects-category3{
    font-size: 1em;
    color: #000;
    padding-top: 10px;
}
.projects-category4{
    font-size: 1em;
    color: #000;
    padding-top: 70px;
}
.projects-category5{
    font-size: 1em;
    color: #000;
    padding-top: 30px;
}.projects-category6{
    font-size: 1em;
    color: #000;
    padding-top: 30px;
}
.projects-title {
    display: flex;
    justify-content: space-between;
    text-transform:uppercase;
    font-weight: 800;
    margin-top: 10px;
}/*hedhi bch narj3lha mbaed*/
.more-details-project1{
    text-decoration: none;
    color:#3a6cf4;
    padding-top: 65px;
    
}
.more-details-project2{
    text-decoration: none;
    color:#3a6cf4;
    padding-top: 65px;
}
.more-details-project3{
    text-decoration: none;
    color:#3a6cf4;
    padding-top: 85px;
}
.more-details-project4{
    text-decoration: none;
    color:#3a6cf4;
    padding-top: 90px;
    padding-left:50px;
}
.more-details-project5{
    text-decoration: none;
    color:#3a6cf4;
    padding-top: 70px;
}
.more-details-project6{
    text-decoration: none;
    color:#3a6cf4;
    padding-top: 115px;
}
.more-details-project1:hover{
    color: #ffdd00;
}
.more-details-project2:hover{
    color: #ffdd00;
}
.more-details-project3:hover{
    color: #ffdd00;
}
.more-details-project4:hover{
    color: #ffdd00;
}
.more-details-project5:hover{
    color:#ffdd00;
}
.more-details-project6:hover{
    color: #ffdd00;
}
/*hedhi first section li feha contact*/
.cards-contact{
   background-color:#9591F2;
}
.contact .icon {
    font-size: 4.5em;
   

}
.contact .info h3{
    color: #000;

}
.contact .info p{
    font-size:1.2em;
    
}
/*hedhi first section li footer*/
    .footer{
    background-color:#2B718C;
    color: #fff;
    padding: 0.2em;
    display: flex;
    justify-content: space-between;}

    .footer-title{
    font-size:1em;
    font-weight:600;
    display: flex;
    justify-content: center;    
    padding-top: 20px;
    }
    .footer-title span{
    color:#0a49f6;
       
    }
    .footer .social-icons a{
    font-size: 2em;
    padding: 0 40px 0 0;
     color: #fff;
        

    
    }
    /*hedhi first section li nged feha ay divices akal mel 1023px*/
    @media (max-width:1023px){
        header{
            padding: 12px 20px;
        }
    
        .navigation a{
            padding-left: 10px;
        }
    
        .title{
            font-size: 1.8em;
        }
    
        section{
            padding: 80px 20px;
        }
    
        .main-content h2{
            font-size: 1em;
        }
    
        .main-content h3{
            font-size: 1.6em;
        }
    
        .content{
            flex-direction: column;
            align-items: center;
        }
    
    }
    /*hedhi first section li nged feha ay divices akal mel 641px*/
    @media (max-width:641px){
        body{
            font-size: 12px;
        }
    
        .main-content h2{
            font-size: 0.8em;
        }
    
        .main-content h3{
            font-size: 1.4em;
        }
    }
    /*hedhi first section li nged feha ay divices akal mel 300px*/
    @media (max-width:300px){
        body{
            font-size: 10px;
         
        }
    }
